/* 
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  } */

  
.ant-popover-arrow {
    display: none;
}

.ant-collapse-content-box {
    padding: 4px !important; 
}


.ant-form-item {
    margin-bottom: 10px;
}

.ant-upload {
    width: 100%;
}

.ant-popover-placement-top {
    left: 0;
}


.ant-timeline-item-head-custom {
    padding: 0;
}

.selector > .ant-select-selector {
  background-color: #001529 !important;
}

.selector > .ant-select-selector.selector::after {
  color: white;
}

.ant-picker-input > input  {
    color: white;
}

.date-picker-black > .ant-picker-input > input  {
    color: black;
}

.ant-radio-inner {
  width: 40px;
  height: 40px;
}

.ant-radio-inner::after {
  width: 20px;
  height: 20px;
}


.ant-switch {
  background-color: grey;
}

.ant-switch-checked {
    background-color: #1890ff;
}

.ant-checkbox-wrapper {
    align-items: center;
}

.ant-modal-content {
    margin-bottom: 100px;
}

.ant-modal-header {
    background-color: #001529;
    color: white;
    border: none;
}

.ant-steps-navigation {
    min-height: 60px;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: white;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: white;
}

.ant-steps-navigation .ant-steps-item-container {
    padding-bottom: 0;
}

.ant-steps-navigation .ant-steps-item::after {
    border-color: white;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: white;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: white;
}


.ant-steps-item-finish .ant-steps-item-icon, .ant-steps-item-wait .ant-steps-item-icon {
    background-color:  #001529;
    color: white;
    border-color: white;
}

.ant-modal-footer {
    background-color: #001529;
    border: none;
}

.ant-collapse-content {
    background-color: #001529;
}

.ant-collapse-expand-icon {
    color: white;
}

.ant-collapse-header:hover {
    background-color: #192c3e;
}

.ant-pagination-item {
    background-color: #001529;
    color: white;
}

.ant-pagination-item a {
    color: white;
}

.ant-pagination-prev {
    background-color: #001529;
    color: white;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    background-color: #001529;
    color: white;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis
{
    background-color: #001529;
    color: white;
}

.rc-md-editor .rc-md-navigation {
    background-color: #001529 !important;
}

.rc-md-editor .rc-md-navigation .button-wrap .button {
    background-color: #001529 !important;
    color: white !important;
}

.rc-md-editor .drop-wrap {
    background-color: #001529 !important;
}

.rc-md-editor .editor-container .sec-md .input {
    background-color: #001529 !important;
    color: white !important;
}

.custom-html-style h1, 
.custom-html-style h2,
.custom-html-style h3,
.custom-html-style h4,
.custom-html-style h5,
.custom-html-style h6,
.custom-html-style p,
.custom-html-style blockquote {
    color: white !important;
}

.custom-html-style {
    color: white !important;
}

.ant-collapse-expand-icon {
    align-self: center;
}

.ant-tooltip-disabled-compatible-wrapper {
    display: flex !important;
}

.web3modal-modal-lightbox { z-index: 2000 !important; }

.infinite-scroll-component__outerdiv {
    width: 100%
}